html {
  overflow-y: scroll;
}

body {
  font-family: "Roboto", sans-serif;
}

textarea:focus,
input[type="text"]:focus,
input[type="search"]:focus  {
  border-color: transparent;
  box-shadow: 0 1px 1px transparent inset, 0 0 8px transparent;
  outline: 0 none;
  border-radius: 0;
}

input[type="text"],
input[type="text"]:focus {
  border: none;
  border-bottom: 3px solid #ddd;
  border-radius: 0;
  height: 70px;
  font-size: 32px;
  padding: 5px;
}

th {
  width: 40%;
  cursor: pointer;
}

th:hover {
  background-color: #fdf893;
}

.err {
  display: none;
}